{% set site = siteState() %}

<div class="panel panel-default site-state-panel hidden-xs hidden-sm">
    <div class="panel-heading">
        <i class="fa fa-bar-chart-o"></i> {{ 'site_state'|trans }}
    </div>
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="form-group state-item">
                <label class="col-sm-5 control-label">{{ 'site_since'|trans }}</label>
                <div class="col-sm-7">
                    <p class="form-control-static">{{ options().siteSince }}</p>
                </div>
            </div>
            <div class="form-group state-item">
                <label class="col-sm-5 control-label">{{ 'site_post_count'|trans }}</label>
                <div class="col-sm-7">
                    <p class="form-control-static">{{ site.topicCount }}</p>
                </div>
            </div>
            <div class="form-group state-item">
                <label class="col-sm-5 control-label">{{ 'site_comment_count'|trans }}</label>
                <div class="col-sm-7">
                    <p class="form-control-static">{{ site.commentCount }}</p>
                </div>
            </div>
            <div class="form-group state-item">
                <label class="col-sm-5 control-label">{{ 'site_user_count'|trans }}</label>
                <div class="col-sm-7">
                    <p class="form-control-static">{{ site.userCount }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
