{% extends '@YesknBlog/base.html.twig' %}

{% block main %}
     {% for post in posts %}
         <article class="main" style="position: relative">
            <div class="row">
                <div class="col-md-8" >
                    <h2><a data-pjax href="{{ path('yeskn_blog_show' , {'id' : post.id}) }}">{{ post.title }}</a></h2>
                    <p class="post-meta">
                        <span><i class="fa fa-user"></i> <a data-pjax href="{{ path('user_home', {username: post.author.username}) }}">{{ post.author.nickname }}</a></span>
                        <span><i class="fa fa-clock-o"></i> {{ post.createdAt|date("Y-m-d") }}</span>
                        <span><i class="fa fa-eye"></i> {{ post.views }}</span>
                        <span><i class="fa fa-commenting-o"></i> 1</span>
                        {% if post.categories is not null %}
                            <span><i class="fa  fa-folder-o"></i>
                            {% for cat in post.categories %}
                                 {{ cat.name }}
                            {% endfor %}
                                </span>
                        {% endif %}
                    </p>
                    <div class="">
                        {{ post.excerpt|length > 78 ? post.excerpt|slice(0, 78) ~ '...' : post.excerpt  }}
                    </div>
                    {#<div style="position: absolute;bottom: -20px;">
                        {% if post.tags is not null %}
                            <span><i class="fa  fa-tags"></i>
                                {% for tag in post.tags %}
                                    {{ tag.name }}
                                {% endfor %}
                                </span>
                        {% endif %}
                    </div>#}
                </div>
                <div class="col-md-4">
                    {% if post.cover %}
                        <img src="{{ post.cover }}" alt="" height="auto" width="auto"/>
                    {% endif %}
                </div>

            </div>
         </article>
     {% else %}
         <div class="well">{{ 'no post found' }}</div>
     {% endfor %}
     <ul class="pagination">
         {% if pageData['currentPage']-1 <= 0 %}
         <li class="disabled">
             <a href="#">&laquo;</a>
         </li>
         {% else %}
             <li >
                 <a href="{{ path('blog_index_paginated',{'page':pageData['currentPage']-1}) }}" data-pjax>&laquo;</a>
             </li>
         {% endif %}

         {% for p in 1..pageData['allPage'] %}
             {% if p == pageData['currentPage'] %}
                 <li class="active"><a href="javascript:">{{ p }}</a></li>
             {% else %}
                 <li><a href="{{ path('blog_index_paginated',{'page':p}) }}" data-pjax>{{ p }}</a></li>
             {% endif %}

         {% endfor %}
         <li {% if pageData['currentPage']+1 > pageData['allPage'] %} class="disabled" {% endif %}>
             <a href="{{ path('blog_index_paginated',{'page':pageData['currentPage']+1}) }}" data-pjax>&raquo;
             </a>
         </li>
     </ul>
 {% endblock %}

