<!DOCTYPE html>
<html lang="en">
<head>
    {% include '@YesknMain/javascripts/loading.html.twig' %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Yeskn">
    {% block title %} <title>{{ 'site_title'|trans }}</title> {% endblock %}
    {% if app.request.get('_pjax') is empty %}
        {% block head_css_link %}
            {% stylesheets
                'assets/lib/bootstrap/dist/css/bootstrap.min.css'
                'assets/lib/font-awesome/css/font-awesome.min.css'
                'assets/lib/nprogress/nprogress.css'
                'assets/css/common.css'
                filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}"/>
            {% endstylesheets %}
            <link rel="stylesheet" href="https://static.yeskn.com/bootoast/css/bootoast.css">
        {% endblock %}

        {% block head_js_link %}
            {% javascripts
                'assets/lib/jquery/dist/jquery.min.js'
                filter='uglifyjs2' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            <script>
                window.Yeskn = {{ javascriptVariables(1)|raw }};
            </script>
        {% endblock %}
    {% endif %}
</head>

<body style="display: none">

{% if app.request.get('_pjax') is empty %}
    {% block navbar %}
        {% include '@YesknMain/nav.html.twig' %}
    {% endblock %}
{% endif %}

<div class="content-body container">
    {% block page_wraper %}
        <div class="row content-row">
            <div class="col-lg-8 content-main" role="main">
                {% block main %}{% endblock %}
            </div>
            <div id="sidebar" class="col-md-4" role="complementary">
                {% block sidebar %}
                    {% include '@YesknMain/sidebar.html.twig' %}
                {% endblock %}
            </div>
        </div>
    {% endblock %}
</div>

{% if app.request.get('_pjax') is empty %}
    {% block footer %}
        {% include '@YesknMain/footer.html.twig' %}
    {% endblock %}

    {% block foot_js_link %}
        {% javascripts
            'assets/lib/bootstrap/dist/js/bootstrap.min.js'
            'assets/lib/nprogress/nprogress.js'
            'assets/lib/jquery-pjax/jquery.pjax.js'
            'assets-private/js/functions.js'
            'assets-private/js/event.js'
            'assets-private/js/socket.js'
            'assets-private/js/pjax.js'
            'assets-private/js/common.js'
            filter='uglifyjs2' %}
        <script src="{{ asset_url }}"></script>

        <script src="https://cdn.bootcss.com/socket.io/1.3.7/socket.io.min.js"></script>
        <script src="https://static.yeskn.com/bootoast/js/bootoast.js"></script>
        {% endjavascripts %}

        <script type="text/javascript">
            $(function () {
                $('.loading').remove();
                $('body').fadeIn(1000);


                $('.blog-generate-box').slideDown();
            })
        </script>
    {% endblock %}
    {% block footer_javascript %}{% endblock %}
{% endif %}
</body>
</html>
