<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        var loadingDiv = document.createElement("div");
        loadingDiv.setAttribute('class','loading');
        loadingDiv.style.position = 'fixed';
        loadingDiv.style.top = '50%';
        loadingDiv.style.left = '50%';
        loadingDiv.style.marginLeft = '-196px';
        loadingDiv.style.marginTop = '-79px';
        var imgNode = document.createElement('img');
        imgNode.setAttribute('src','{{ asset('assets/images/loading.gif') }}');
        imgNode.setAttribute('alt','Loading...');
        var html = document.getElementsByTagName('html')[0];
        loadingDiv.insertBefore(imgNode,null);
        html.insertBefore(loadingDiv,null);
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Wpcast">
    {% block title %} <title>wpcraft</title> {% endblock %}
    {% if app.request.get('_pjax') is empty %}
        {% block head_css_link %}
            {% stylesheets
                'assets/lib/bootstrap/dist/css/bootstrap.min.css'
                'assets/lib/font-awesome/css/font-awesome.min.css'
                'assets/lib/nprogress/nprogress.css'
                'assets/css/common.css'
                filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}"/>
            {% endstylesheets %}
            <link rel="stylesheet" href="https://static.yeskn.com/bootoast/css/bootoast.css">
        {% endblock %}

        {% block head_js_link %}
        {% javascripts
            'assets/lib/jquery/dist/jquery.min.js'
            filter='uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    <script>
        window.Yeskn = {
            socketHost: '{{ socket_host }}',
            user: {
                username: '{{ app.user ? app.user.username : '' }}' || 'guest_' + Date.parse(new Date()),
                socketToken: ''
            },
            links: {
                G_info_link: '{{ path('info') }}',
                G_set_message_red_link: '{{ path('set_message_red') }}',
                G_sign_link: '{{ path('sign') }}',
                G_cdn__Path: '',
                G_set_locale_link: '{{ path('set_locale') }}',
                G_thumb_up__link: '{{ path('thumbup_comment') }}',
                add_comment_to_post: '{{ path('add_comment_to_post', {postId: 1}) }}',
                send_chat: '{{ path("send_chat") }}'
            },
            trans: {
                thumbup: '{{ 'like'|trans }}',
                message: '{{ 'messages'|trans }}',
                action_too_quick: '{{ 'action_too_fast'|trans }}！'
            },
            disableLog: true
        }
    </script>
        {% endblock %}
    {% endif %}
</head>

<body style="display: none">

{% if app.request.get('_pjax') is empty %}
    {% block navbar %}
        {% include '@YesknMain/nav.html.twig' %}
    {% endblock %}
{% endif %}

<div class="content-body container">
    {% block page_wraper %}
        <div class="row content-row">
            <div class="col-lg-8 content-main" role="main">
                {% block main %}{% endblock %}
            </div>
            <div id="sidebar" class="col-md-4" role="complementary">
                {% block sidebar %}
                    {% include '@YesknMain/sidebar.html.twig' %}
                {% endblock %}
            </div>
        </div>
    {% endblock %}
</div>

{% if app.request.get('_pjax') is empty %}
    {% block footer %}
        {% include '@YesknMain/footer.html.twig' %}
    {% endblock %}

    {% block foot_js_link %}
        <script type="text/javascript">
            $(function () {
                $('.loading').remove();
                $('body').fadeIn(1000);


                $('.blog-generate-box').slideDown();
            })
        </script>
        {% javascripts
            'assets/lib/bootstrap/dist/js/bootstrap.min.js'
            'assets/lib/nprogress/nprogress.js'
            'assets/lib/jquery-pjax/jquery.pjax.js'
            'assets-private/js/functions.js'
            'assets-private/js/event.js'
            'assets-private/js/socket.js'
            'assets-private/js/pjax.js'
            'assets-private/js/common.js'
            filter='uglifyjs2' %}
        <script src="{{ asset_url }}"></script>

        <script src="https://cdn.bootcss.com/socket.io/1.3.7/socket.io.min.js"></script>
        <script src="https://static.yeskn.com/bootoast/js/bootoast.js"></script>
        {% endjavascripts %}
    {% endblock %}
{% endif %}
</body>
</html>
