<div class="col-md-4 col-sm-6 col-xs-12">
    <div class="panel panel-default">
        <a target="_blank" href="{{ path('blog_info', {subdomain:blog.subdomain}) }}">
            <img src="{{ asset(blog.cover) }}" alt="" width="225" height="125">
        </a>
        <div class="panel-body " style="padding: 5px">
            <b style="color: grey">
                <a target="_blank" href="{{ path('blog_info', {subdomain:blog.subdomain}) }}">{{ blog.title }}</a>
            </b>
            <br>
            <span class="text-small-gray">
                <a data-pjax href="{{ path('member_home', {username: blog.user.username}) }}">{{ blog.user.nickname }}</a>
                创建于<span data-toggle="tooltip" title="{{ blog.createdAt|date }}">{{ blog.createdAt|ago }}</span>
            </span>

        </div>
    </div>
</div>