<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Vmoex - {{ 'vmoex_slogan'|trans }}">
    <meta name="author" content="Vmoex">
    {% block title %} <title>Vmoex - {{ 'vmoex_slogan'|trans }}</title> {% endblock %}
    {% if app.request.get('_pjax') is empty %}
        {% block head_css_link %}
        {% stylesheets
            'lib/bootstrap/dist/css/bootstrap.min.css'
            'lib/font-awesome/css/font-awesome.min.css'
            'lib/wangEditor/dist/css/wangEditor.min.css'
            'lib/nprogress/nprogress.css'
            'lib-man/bootoast/css/bootoast.css'
            'lib-man/live2d/css/live2d.css'
            'css/common.css'
            filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
        {% endblock %}

        {% block head_js_link %}
        {% javascripts
            'lib/jquery/dist/jquery.min.js'
            filter='uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <script>
            let G_info_link = '{{ path('info') }}';
            let G_set_message_red_link = '{{ path('set_message_red') }}';
            let G_sign_link = '{{ path('sign') }}';
            let G_cdn__Path = '{{ assets_base_url }}';
            let G_set_locale_link = '{{ path('set_locale') }}';
        </script>
        {% endblock %}
    {% endif %}
</head>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">发送私信</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="message-text" class="control-label">内容:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="send-message" class="btn btn-info btn-sm" data-loading-text="<i class='fa fa-spinner fa-spin '></i> 发送中"><i class="fa fa-send"></i> 发送</button>
            </div>
        </div>
    </div>
</div>

<body>

{% if app.request.get('_pjax') is empty %}
    {% block navbar %}
        {% include '@YesknBlog/nav.html.twig' %}
    {% endblock %}
{% endif %}

<div class="content-body container">
    {% block page_wraper %}
        <div class="row content-row">
            <div class="col-lg-8 content-main" role="main">
                {% block main %}{% endblock %}
            </div>
            <div class="col-md-4" role="complementary">
                {% block sidebar %}
                    {% set block_loaded = block('sidebar_head') is defined  %}
                    {% include '@YesknBlog/sidebar.html.twig' with {sidebar_head: block_loaded  ? block('sidebar_head')  : ''} %}
                {% endblock %}
            </div>
        </div>
    {% endblock %}
</div>

{% if app.request.get('_pjax') is empty %}
    {% block footer %}
    <footer>
        <div class="container">


            <div class="brand">
                <b><a data-pjax href="{{ path('about') }}">{{ 'about.vmoex'|trans }}</a></b>
                <span class="snow">·</span>
                <b><a data-pjax href="{{ path('buy_beer') }}">{{ 'buy_beer'|trans }} ｡◕‿◕｡</a></b>
            </div>

            <br>

            <div class="language-box">

                <span style="display: inline-block;margin-right: 10px">{{ 'vmoex_available_with'|trans }}</span>

                <img class="footer-flag" src="{{ asset('img/flags/zh_CN.png') }}" alt="zh_CN"> <a data-pjax href="javascript:" class="set-locale-link" data-locale="zh_CN">{{ 'chinese'|trans }}</a>
                <span class="snow">·</span>
                <img class="footer-flag" src="{{ asset('img/flags/en.png') }}" alt="en"><a href="javascript:" class="set-locale-link" data-locale="en">{{ 'english'|trans }}</a>
                <span class="snow">·</span>
                <img class="footer-flag" src="{{ asset('img/flags/zh_TW.png') }}" alt="zh_TW"><a href="javascript:" class="set-locale-link" data-locale="zh_TW">{{ 'chinese.tw'|trans }}</a>
                <span class="snow">·</span>
                <img class="footer-flag" src="{{ asset('img/flags/jp.png') }}" alt="jp"><a href="javascript:" class="set-locale-link" data-locale="jp">{{ 'japanese'|trans }}</a>

            </div>

            {% set userCount = onlineUserCount() %}
            <p style="margin: 20px 5px">{{ '当前在线count人'|trans({count:userCount}) }}，{{ '历史最高'|trans }} 393</p>
            <p class="copy" {#data-original-title="给你一个么么哒~"#}>© 2018 Vmoex - {{ 'vmoex_slogan'|trans }}</p>
            <p class="power" >Designed with <span>❤</span> 彩虹の恋しい</p>
        </div>
    </footer>
    {% endblock %}

    {% include '@YesknBlog/landlord.html.twig' %}

    {% block foot_js_link %}
    {% javascripts
        'lib/bootstrap/dist/js/bootstrap.min.js'
        'lib/nprogress/nprogress.js'
        'lib/jquery-pjax/jquery.pjax.js'
        'lib-man/weditor/editor.js'
        'lib-man/bootoast/js/bootoast.js'
        'lib-man/live2d/js/live2d.js'
        'lib-man/live2d/js/message.js'
        'js/common.js'
        filter='uglifyjs2' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% endblock %}
{% endif %}
</body>
</html>
