<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Jake">
    {% block title %}  <title>Vmoex - 努力打造最美好的二次元社区</title> {% endblock %}
    {% block head_css_link %}
        {% stylesheets
            'lib/bootstrap/dist/css/bootstrap.min.css'
            'lib/metisMenu/dist/metisMenu.min.css'
            'css/timeline.css'
            'css/sb-admin-2.css'
            'lib/morrisjs/morris.css'
            'lib/font-awesome/css/font-awesome.min.css'
            'lib/wangEditor/dist/css/wangEditor.min.css'
            'lib/nprogress/nprogress.css'
            'css/common.css'
            'lib-man/bootoast/css/bootoast.css'
            'lib-man/live2d/css/live2d.css'
            filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}

    {% block head_js_link %}
        {% javascripts
            'lib/jquery/dist/jquery.min.js'
            filter='uglifyjs2' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <script>
            var G_info_link = '{{ path('info') }}';
            var G_set_message_red_link = '{{ path('set_message_red') }}';
            var G_sign_link = '{{ path('sign') }}';
        </script>
    {% endblock %}
</head>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">发送私信</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="message-text" class="control-label">内容:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="send-message" class="btn btn-info btn-sm" data-loading-text="<i class='fa fa-spinner fa-spin '></i> 发送中"><i class="fa fa-send"></i> 发送</button>
            </div>
        </div>
    </div>
</div>

<body>
{% block navbar %}
    {% include '@YesknBlog/nav.html.twig' %}
{% endblock %}

<div class="content-body container">
    {% block page_wraper %}
        <div class="row content-row">
            <div class="col-lg-8 content-main" role="main">
                {% block main %}{% endblock %}
            </div>
            <div class="col-md-4" role="complementary">
                {% block sidebar %}
                    {% set block_loaded = block('sidebar_head') is defined  %}
                    {% include '@YesknBlog/sidebar.html.twig' with {sidebar_head: block_loaded  ? block('sidebar_head')  : ''} %}
                {% endblock %}
            </div>
        </div>
    {% endblock %}
</div>

{% block footer %}
    <footer style="display: flex;height: 301px;background: url('{{ asset('img/763552f474305423.png') }}');background-position: bottom right;background-repeat: no-repeat">
        <div class="container">
            <div style="">
                <p class="copy" style="text-align: center;padding: 5px" data-original-title="powered by Yeskn">© 2018 Vmoex - 打造最美好的二次元社区</p>
            </div>
        </div>
    </footer>
{% endblock %}

<div id="landlord" style="left:5px;bottom:0px;">
    <div class="message" style="opacity:0"></div>
    <canvas id="live2d" width="500" height="560" class="live2d"></canvas>
    <div class="live_talk_input_body">
        <div class="live_talk_input_name_body">
            <input name="name" type="text" class="live_talk_name white_input" id="AIuserName" autocomplete="off" placeholder="你的名字" />
        </div>
        <div class="live_talk_input_text_body">
            <input name="talk" type="text" class="live_talk_talk white_input" id="AIuserText" autocomplete="off" placeholder="要和我聊什么呀？"/>
            <button type="button" class="live_talk_send_btn" id="talk_send">发送</button>
        </div>
    </div>
    <input name="live_talk" id="live_talk" value="1" type="hidden" />
    <div class="live_ico_box">
        <div class="live_ico_item type_info" id="showInfoBtn"></div>
        <div class="live_ico_item type_talk" id="showTalkBtn"></div>
        <div class="live_ico_item type_music" id="musicButton"></div>
        <div class="live_ico_item type_youdu" id="youduButton"></div>
        <div class="live_ico_item type_quit" id="hideButton"></div>
        <input name="live_statu_val" id="live_statu_val" value="0" type="hidden" />
        <audio src="" style="display:none;" id="live2d_bgm" data-bgm="0" preload="none"></audio>

        <input name="live2dBGM" value="https://t1.aixinxi.net/o_1c56a1k361lh93t14ha1cmi238a.mp3" type="hidden">
        <input name="live2dBGM" value="https://t1.aixinxi.net/o_1c56a3tc42tka7q52q1jksik3a.mp3" type="hidden">
        <input name="live2dBGM" value="https://t1.aixinxi.net/o_1c56a30tn12gp1ptp6o10hm10gsa.mp3" type="hidden">
        <input name="live2dBGM" value="https://t1.aixinxi.net/o_1c56a58rn1m0e89q1kht1l1hctja.mp3" type="hidden">

        <input id="duType" value="douqilai,l2d_caihong" type="hidden">
    </div>
</div>
<div id="open_live2d">召唤伊斯特瓦尔</div>

<script>
    var message_Path = '/lib-man/live2d/';//资源目录，如果目录不对请更改
    var talkAPI = "";//如果有类似图灵机器人的聊天接口请填写接口路径
</script>

{% block foot_js_link %}
    {% javascripts
        'lib/bootstrap/dist/js/bootstrap.min.js'
        'lib/metisMenu/dist/metisMenu.min.js'
        'lib/bootstrap/js/popover.js'
        'js/sb-admin-2.js'
        'lib/nprogress/nprogress.js'
        'lib/jquery-pjax/jquery.pjax.js'
        'lib/wangEditor/dist/js/wangEditor.min.js'
        'lib-man/bootoast/js/bootoast.js'
        'js/common.js'
        'lib-man/live2d/js/live2d.js'
        'lib-man/live2d/js/message.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>
