{% extends '@YesknBlog/base.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col-lg-12">
            <div class="chat-panel panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-comments fa-fw"></i> 瞎聊
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown"
                                aria-expanded="false">
                            <i class="fa fa-chevron-down"></i>
                        </button>
                        <ul class="dropdown-menu slidedown">
                            <li>
                                <a href="javascript:" id="refresh-chat">
                                    <i class="fa fa-refresh fa-fw"></i> 刷新
                                </a>
                            </li>
                            <li class="divider"></li>
                        </ul>
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body" id="chat-box">
                    {% if chats is not empty %}
                        <ul class="chat">
                            {% for chat in chats %}
                                {% set loc = (app.user and chat.user.id == app.user.id) ? 'right' : 'left' %}
                                <li class="{{ loc }} clearfix">
                                    <span class="chat-img pull-{{ loc }}">
                                        <img style="border-radius: 5px" width="50" height="50" src="{{ chat.user.avatar }}" alt="User Avatar">
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            {% if loc == 'right' %}
                                                <small class="text-muted">
                                                    <i class="fa fa-clock-o fa-fw"></i> {{ chat.createdAt|date('Y-m-d H:i:s') }}
                                                </small>
                                                <strong class="pull-right primary-font"><a data-pjax href="{{ path('user_home', {username:chat.user.username}) }}">{{ chat.user.nickname }}</a></strong>
                                                {% else %}
                                                    <strong class="primary-font"><a data-pjax href="{{ path('user_home', {username:chat.user.username}) }}">{{ chat.user.nickname }}</a></strong>
                                                    <small class="pull-right text-muted">
                                                        <i class="fa fa-clock-o fa-fw"></i> {{ chat.createdAt|date('Y-m-d H:i:s') }}
                                                    </small>
                                            {% endif %}

                                        </div>
                                        <p>{{ chat.content|raw }}</p>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <div class="alert alert-warning">
                            抱歉，暂时没有任何内容！
                        </div>
                    {% endif %}
                </div>
                <!-- /.panel-body -->
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="btn-input" type="text" class="form-control input-sm" placeholder="请输入聊天内容...">
                        <span class="input-group-btn">
                             {% if app.user %}
                                 <button type="button" id="sendChat" class="btn btn-warning btn-sm">发送</button>
                             {% else %}
                                 <button type="button" class="btn btn-warning btn-sm disabled">请先登录</button>
                             {% endif %}
                        </span>
                    </div>
                </div>
                <!-- /.panel-footer -->
            </div>
        </div>
    </div>

    <script>
        var elem = document.getElementById('chat-box');
        elem.scrollTop = elem.scrollHeight;

        $(function () {
            $('.content-body').off('click', '#sendChat');
            $('.content-body').on('click', '#sendChat', function () {
                $.ajax({
                    method: 'POST',
                    url: '{{ path("send_chat") }}',
                    data: {content: $('#btn-input').val()},
                    success: function (data) {
                       data.ret ? reload() : error(data.msg);
                    }
                })
            });

            $('.content-body').off('click', '#refresh-chat');
            $('.content-body').on('click', '#refresh-chat', function () {
               reload();
            });
        })
    </script>
{% endblock %}

{% block sidebar %}
<div class="panel panel-default">
    <div class="panel-heading">
        什么是瞎聊
    </div>
    <div class="panel-body">
        “瞎聊”是Vmoex社区提供的一个在线即时聊天的功能，每发送一条“瞎聊”将消耗一枚金币。
    </div>
</div>
{% endblock %}