{% extends '@YesknBlog/base.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default notifications-panel">
                <div class="panel-heading">
                    {{ app.user.nickname }}的通知
                </div>
                <div class="panel-body">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#not_read" data-toggle="tab">未读</a>
                        </li>
                        <li><a href="#read" data-toggle="tab">已读</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="not_read">
                            {% if notices is not empty %}
                                <ul class="notifications-list">
                                    {% for notice in notices %}
                                        <li>

                                            <div style="margin: 10px 0">
                                                {% if notice.type == constant('Yeskn\\BlogBundle\\Entity\\Notice::TYPE_COMMENT_POST') %}
                                                <img src="{{ notice.createdBy.avatar }}" alt="" width="30" height="30" style="border-radius: 3px">
                                                <a data-pjax href="{{ path('user_home', {username: notice.createdBy.username}) }}">{{ notice.createdBy.nickname }}</a>
                                                回复了你的帖子 <a data-pjax href="{{ path('yeskn_blog_show', {id: notice.object.id}) }}">{{ notice.object.title }}</a>：
                                            </div>

                                            <blockquote class="home-bq">
                                                {{ notice.content.content|raw }}
                                            </blockquote>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <div class="alert alert-warning">
                                    抱歉，暂时没有任何内容！
                                </div>
                            {% endif %}
                        </div>

                        <div class="tab-pane fade" id="read">
                            {% if notices is not empty %}
                                <ul class="notifications-list">
                                    {% for notice in notices %}
                                        <li>

                                            <div style="margin: 10px 0">
                                                {% if notice.type == constant('Yeskn\\BlogBundle\\Entity\\Notice::TYPE_COMMENT_POST') %}
                                                <img src="{{ notice.createdBy.avatar }}" alt="" width="30" height="30" style="border-radius: 3px">
                                                <a data-pjax href="{{ path('user_home', {username: notice.createdBy.username}) }}">{{ notice.createdBy.nickname }}</a>
                                                回复了你的帖子 <a data-pjax href="{{ path('yeskn_blog_show', {id: notice.object.id}) }}">{{ notice.object.title }}</a>：
                                            </div>

                                            <blockquote class="home-bq">
                                                {{ notice.content.content|raw }}
                                            </blockquote>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <div class="alert alert-warning">
                                    抱歉，暂时没有任何内容！
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}