<div class="col-lg-4">
    {% if sidebar_head is not empty %}
        {{ sidebar_head|raw }}
    {% endif %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa  fa-quote-left"></i> 网站公告
        </div>
        <div class="panel-body latest-posts">
           有什么话就直接在这里说吧。
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-flash"></i> 最新发布
        </div>
        <div class="panel-body latest-posts">
            <ul>
                {% for post in hotPosts() %}
                    <li><a data-pjax href="{{ path('yeskn_blog_show' , {'id' : post.id}) }}">
                            {{ post.title }}
                        </a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-child"></i> 活跃用户
        </div>
        <div class="panel-body latest-posts">
            <ul>
               <li style="list-style: none;margin: 10px 0;"><a href=""><img src="https://cdn.v2ex.com/avatar/5563/bf98/213816_normal.png?m=1514706472" alt="" width="25" height="25" style="border-radius: 50%">
                       你是我的谁</a></li>
                <li style="list-style: none; margin: 10px 0;"><a href=""><img src="https://cdn.v2ex.com/avatar/5563/bf98/213816_normal.png?m=1514706472" alt="" width="25" height="25" style="border-radius: 50%">
                        你是我的谁</a></li>
                <li style="list-style: none; margin: 10px 0;"><a href=""><img src="https://cdn.v2ex.com/avatar/5563/bf98/213816_normal.png?m=1514706472" alt="" width="25" height="25" style="border-radius: 50%">
                        你是我的谁</a></li>
            </ul>
        </div>

    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-fire"></span> 今日热门话题
        </div>
        <div class="panel-body latest-posts">
            <ul>
                <li style="list-style: none;"><a href="">
                        是一篇新的文章</a></li>
                <li style="list-style: none;"><a href="">
                        今天修复了极验验证的wordpress插件</a></li>
                <li style="list-style: none;"><a href="">
                        东的黑客搞的鬼，于是想到给文</a></li>
            </ul>
        </div>

    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-comments-o"></i> 最新评论
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <ul class="chat">
            {% for comment in hotComments() %}
                <li class="left clearfix">
                    <span class="chat-img pull-left">
                        <img src="{{ comment.user.avatar }}" alt="User Avatar" class="img-circle" width="50" height="50">
                    </span>
                    <div class="chat-body clearfix">
                        <div class="header">
                            <strong class="primary-font"><a href="{{ path('user_home', {username: comment.user.username}) }}" data-pjax>{{ comment.user.nickname }}</a></strong>
                            <small class="pull-right text-muted">
                                <i class="fa fa-clock-o fa-fw"></i> {{ comment.createdAt|date('Y-m-d H:i:s') }}
                            </small>
                        </div>
                        <p>{{ comment.content|raw }}</p>
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>
        <!-- /.panel-body -->
    </div>
</div>