<div id="sidebar" class="col-lg-4" role="complementary">
    <div class="panel">
        <div class="panel-body user-meta">
            <ul class="chat">
                <li class="left clearfix user-meta">
                        <span class="chat-img pull-left">
                            <img src="{{ asset(user.avatar) }}" alt="User Avatar" class="img-rounded" width="50" height="50">
                        </span>
                    <div class="chat-body clearfix">
                        <div class="header clearfix">
                            <strong class="primary-font home-name">
                                <a href="{{ path('member_home', {username: user.username}) }}"
                                   data-pjax>{{ user.nickname }}
                                </a>
                            </strong>
                            {% if online %}
                                <span class="user-online" aria-hidden="false">{{ '在线可撩'|trans }}</span>
                            {% endif %}
                            <small class="pull-right text-muted">
                                <i class="fa fa-clock-o fa-fw"></i> {{ '加入于'|trans }}{{ user.registerAt|date('Y-m-d H:i:s') }}，
                                {{ 'user_place_in_site'|trans({count:user.id}) }}

                                {% if userActive %}
                                    ，{{ '最后在线时间：time'|trans({time: userActive.updatedAt|ago}) }}
                                {% endif %}
                            </small>

                        </div>
                        <div style="margin: 10px 0;">{{ user.remark|raw }}</div>
                        <br/>
                    </div>
                </li>
            </ul>

            <div class="list-group vertical-menu notification-nav">
                <a data-pjax class="list-group-item {{ scope == 'home' ? 'active':'' }}" href="{{ path('user_home') }}">个人中心</a>
                <a data-pjax class="list-group-item {{ scope == 'notice' ? 'active':'' }}" href="{{ path('user_notice') }}">我的通知  <span class="badge">{{ notice_count }}</span></a>
                <a data-pjax class="list-group-item {{ scope == 'message' ? 'active':'' }}" href="{{ path('user_message') }}">我的信箱  <span class="badge">{{ message_count }}</span></a>
                <a data-pjax class="list-group-item {{ scope == 'blog' ? 'active':'' }}" href="{{ path('user_blog') }}">我的博客</a>
                <a data-pjax class="list-group-item {{ scope == 'setting' ? 'active':'' }}" href="{{ path('user_setting') }}">个人设置</a>
            </div>
        </div>
    </div>
</div>
