{% extends '@YesknAdmin/base.html.twig' %}

{% block page_wraper %}
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">网站管理</h3>
        </div>
    </div>

    {% if form.vars.message is defined %}
        {% set message = form.vars.message %}
        <div class="alert alert-{{ message.type }}" role="alert">{{ message.content }}</div>
    {% endif %}

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">{{ groupName }}</div>
                <div class="panel-body">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
