<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% include '@YesknMain/javascripts/loading.html.twig' %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Yeskn">
    {% block title %} <title>{{ 'site_title'|trans }}</title> {% endblock %}
    {% block stylesheets %}
        {% stylesheets
            'assets/lib/bootstrap/dist/css/bootstrap.min.css'
            'assets/lib/bootstrap-social/bootstrap-social.css'
            'assets/lib/font-awesome/css/font-awesome.min.css'
            'assets/lib/nprogress/nprogress.css'
            'assets/lib/bootoast/css/bootoast.css'
            'assets/css/common.css'
            filter='cssrewrite' output='build/css/header.css' %}
            <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}
    {% block head_javascripts %}
        {% javascripts
            'assets/lib/jquery/dist/jquery.min.js'
            filter='uglifyjs2' output='build/js/header.js' %}
            <script src="{{ asset_url }}"></script>
            <script>
                window.Yeskn = {{ javascriptVariables(1)|raw }};
                window.YesknPlugins = {{ javascriptPlugins()|raw }};
            </script>
        {% endjavascripts %}
    {% endblock %}
</head>

<body style="display: none">

{% block navbar %}
    {% include '@YesknMain/nav.html.twig' %}
{% endblock %}

<div class="content-body container">
    {% block page_wraper %}
        <div class="row content-row">
            <div class="col-lg-8 content-main" role="main">
                {% block main %}{% endblock %}
            </div>
            <div id="sidebar" class="col-lg-4" role="complementary">
                {% block sidebar %}
                    {% include '@YesknMain/sidebar.html.twig' %}
                {% endblock %}
            </div>
        </div>
    {% endblock %}
</div>

{% block footer %}
    {% include '@YesknMain/footer.html.twig' %}
{% endblock %}

{% block javascripts %}
    {# 需要把assets-private放在前头，否则会报错 #}
    {% javascripts
        'assets-private/js/common.js'
        'assets-private/js/functions.js'
        'assets-private/js/event.js'
        'assets-private/js/socket.js'
        'assets/lib/bootstrap/dist/js/bootstrap.min.js'
        'assets/lib/nprogress/nprogress.js'
        'assets/lib/jquery-pjax/jquery.pjax.js'
        'assets/lib/bootoast/js/bootoast.js'
        'assets/lib/socket.io-client/dist/socket.io.js'
        'assets-private/js/pjax.js'
        filter='uglifyjs2' output='build/js/footer.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% include '@YesknMain/base/script.html.twig' %}
{% endblock %}
</body>
</html>
