<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% include '@YesknMain/javascripts/loading.html.twig' %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Yeskn">
    {% block title %} <title>{{ 'site_title'|trans }}</title> {% endblock %}
    {% block stylesheets %}
        {% stylesheets
            'assets/lib/bootstrap/dist/css/bootstrap.min.css'
            'assets/lib/bootstrap-social/bootstrap-social.css'
            'assets/lib/At.js/dist/css/jquery.atwho.min.css'
            'assets/lib/font-awesome/css/font-awesome.min.css'
            'assets/lib/nprogress/nprogress.css'
            'assets/css/common.css'
            filter='cssrewrite' output='build/css/header.css' %}
            <link rel="stylesheet" href="{{ asset_url }}"/>
            <link rel="stylesheet" href="https://static.yeskn.com/bootoast/css/bootoast.css">
        {% endstylesheets %}
    {% endblock %}
    {% block head_js_link %}
        {% javascripts
            'assets/lib/jquery/dist/jquery.min.js'
            filter='uglifyjs2' output='build/js/header.js' %}
            <script src="{{ asset_url }}"></script>
            <script>
                window.Yeskn = {{ javascriptVariables(1)|raw }};
            </script>
        {% endjavascripts %}
    {% endblock %}
</head>

<body style="display: none">

{% block navbar %}
    {% include '@YesknMain/nav.html.twig' %}
{% endblock %}

<div class="content-body container">
    {% block page_wraper %}
        <div class="row content-row">
            <div class="col-lg-8 content-main" role="main">
                {% block main %}{% endblock %}
            </div>
            <div id="sidebar" class="col-lg-4" role="complementary">
                {% block sidebar %}
                    {% include '@YesknMain/sidebar.html.twig' %}
                {% endblock %}
            </div>
        </div>
    {% endblock %}
</div>


{% block footer %}
    {% include '@YesknMain/footer.html.twig' %}
{% endblock %}

{% block javascripts %}
    {% javascripts
        'assets/lib/bootstrap/dist/js/bootstrap.min.js'
        'assets/lib/nprogress/nprogress.js'
        'assets/lib/Caret.js/dist/jquery.caret.min.js'
        'assets/lib/At.js/dist/js/jquery.atwho.min.js'
        'assets/lib/jquery-pjax/jquery.pjax.js'
        'assets-private/js/functions.js'
        'assets-private/js/event.js'
        'assets-private/js/socket.js'
        'assets-private/js/pjax.js'
        'assets-private/js/common.js'
        filter='uglifyjs2' output='build/js/footer.js' %}
        <script src="{{ asset_url }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.7/socket.io.min.js"></script>
        <script src="https://static.yeskn.com/bootoast/js/bootoast.js"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(function () {
            $('html > .loading').remove();
            let $body = $('body');

            $body.fadeIn(1000);
            $body.tooltip({
                selector: '[data-toggle=tooltip]'
            });

            if (window.Yeskn.messageCount || window.Yeskn.noticeCount) {
                $('.nav-bell-dot').addClass('push-notifications-count');
            } else {
                $('.nav-bell-dot').removeClass('push-notifications-count');
            }

            if (window.Yeskn.lastChatId*1 !== '{{ app.request.cookies.get('_last_chat_id') }}'*1) {
                $('.nav-chat-dot').addClass('push-notifications-count');
            } else {
                $('.nav-chat-dot').removeClass('push-notifications-count');
            }
        })
    </script>
{% endblock %}
</body>
</html>
