{% extends '@YesknMain/base.html.twig' %}

 {% block page_wraper %}
     <style>
         body {
             background: none;
         }
     </style>
    <div class="row content-row">
        <div class="col-lg-12 content-main" role="main">
            <div class="panel">
                <div class="panel-body" style="text-align: center">
                        <h3>开始你的博客之旅吧！</h3>

                        <div class="stepbar" style="margin-bottom: 20px">
                            <div class=" step-item active">
                                <div class="step">1、博客信息</div>
                                <div class="step-badge step-badge-tail" style=""></div>
                            </div>
                            <div class=" step-item {% if step >= 2 %}active{% endif %}">
                                <div class="step-badge step-badge-head" style=""></div>
                                <div class="step">2、设置域名</div>
                                <div class="step-badge step-badge-tail" style=""></div>
                            </div>
                            <div class=" step-item {% if step >= 3 %}active{% endif %}">
                                <div class="step-badge step-badge-head" style=""></div>
                                <div class="step">3、设置密码</div>
                                <div class="step-badge step-badge-tail" style=""></div>
                            </div>
                            <div class=" step-item {% if step >= 4 %}active{% endif %}">
                                <div class="step-badge step-badge-head" style=""></div>
                                <div class="step">4、生成博客</div>
                                <div class="step-badge step-badge-tail" style=""></div>
                            </div>
                        </div>

                        {% if step == 1 %}
                            <div class="form-horizontal" id="processBlogStep1">

                                <div class="alert alert-warning col-sm-offset-2 col-sm-8 hide"></div>

                                <div class="form-group">
                                    <label for="blogName" class="col-sm-offset-2 col-sm-2 control-label">请输入你的博客名：</label>
                                    <div class="col-sm-6">
                                        <input id="blogName" class="form-control" type="text">
                                        <span class="help-block text-left text-small-gray">比如：我的胡思乱想集散中心</span>
                                    </div>

                                    <label for="blogDesc" class="col-sm-offset-2 col-sm-2 control-label">一句话描述你的博客：</label>
                                    <div class="col-sm-6">
                                        <input id="blogDesc" class="form-control" type="text">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-8">
                                        <button id="processBlogStep1Btn" class="btn btn-success">下一步</button>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {% if step == 2 %}
                            <div class="form-horizontal" id="processBlogStep2">
                                <div class="alert alert-warning col-sm-offset-2 col-sm-8 hide"></div>
                                <div class="form-group">
                                    <label for="blogDomain" class="col-sm-offset-2 col-sm-2 control-label">请输入域名前缀：</label>
                                    <div class="col-sm-6">
                                        <div class="input-group">
                                            <div class="input-group-addon">https://</div>
                                            <input type="text" class="form-control" id="blogDomain">
                                            <div class="input-group-addon">.{{ domain }}</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-8">
                                        <button id="processBlogStep2Btn" class="btn btn-success">下一步</button>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {% if step == 3 %}
                            <div class="form-horizontal" id="processBlogStep3">
                                <div class="alert alert-warning col-sm-offset-2 col-sm-8 hide"></div>
                                <div class="form-group">
                                    <label for="blogPassword" class="col-sm-offset-2 col-sm-2 control-label">请输入博客的密码：</label>
                                    <div class="col-sm-6">
                                        <input id="blogPassword" class="form-control" type="text">
                                        <span class="help-block text-left text-small-gray">wpcraft将会根据您当前的用户名，和上面的密码创建您博客的管理员帐号；wpcraft不会记录你此次输入的密码</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-8">
                                        <button id="processBlogStep3Btn" class="btn btn-success">开始吧！</button>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {% if step == 4 %}
                            <div class="row" id="processBlogStep4">
                                <div class=" col-lg-offset-3 col-lg-6">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
                                            <span class="sr-only">10% 完成度</span>
                                        </div>
                                    </div>
                                    <div id="processBlogSocketMessage" style="text-align: left;padding-left: 20px">
                                        <span class="help-block">队列中...</span>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                </div>
            </div>
        </div>
    </div>

     <script>
         $(function () {
             $(document).onPjax('click', '#processBlogStep1Btn', function () {
                 $.post('{{ path('blog_create', {step: 1}) }}', {
                     blogName: $('#blogName').val(),
                     blogDesc: $('#blogDesc').val()
                 }, function (res) {
                     if (res.status) {
                         go('{{ path('blog_create', {step: 2}) }}');
                     } else {
                         $('#processBlogStep1').find('.alert').removeClass('hide').html(res.message)
                     }
                 });
             });

             $(document).onPjax('click', '#processBlogStep2Btn', function () {
                 $.post('{{ path('blog_create', {step: 2}) }}', {
                     subDomain: $('#blogDomain').val(),
                 }, function (res) {
                     if (res.status) {
                         go('{{ path('blog_create', {step: 3}) }}');
                     } else {
                         $('#processBlogStep2').find('.alert').removeClass('hide').html(res.message)
                     }
                 });
             });

             $(document).onPjax('click', '#processBlogStep3Btn', function () {
                 $.post('{{ path('blog_create', {step: 3}) }}', {
                     password: $('#blogPassword').val(),
                 }, function (res) {
                     if (res.status) {
                         go('{{ path('blog_create', {step: 4}) }}');
                     } else {
                         $('#processBlogStep3').find('.alert').removeClass('hide').html(res.message)
                     }
                 });
             })
         })
     </script>
{% endblock %}
